@charset "utf-8";
/* CSS Document */

body {
	background-color: #c6c6c6;
}
table {
     border-collapse: collapse;
}

 table, th, td {
     border: 1px solid black;
} 
tr:nth-child(even) {background-color: #f2f2f2} 